*{
padding : 0;
margin : 0;
border : 0;
}
body{
background-attachment : fixed;
background-size : 100% auto;
}
.blended_grid{
display : block;
width : 1000px;
overflow : auto;
margin : 30px auto 0 auto;
}
.pageHeader{
background-color : rgba(1.0, 0.8, 0.8, 0.0);
float : left;
clear : none;
height : 100px;
width : 1000px;
}
.pageContent{
background-color : rgba(0.8, 0.8, 0.8, 0.0);
float : left;
clear : none;
height : 600px;
width : 700px;
}
.pageLeftMenu{
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 600px;
width : 200px;
}
.pageFooter{
background-color : rgba(0, 0, 0, 0.5);
float : middle;
clear : none;
height : 100px;
width : 1000px;
}
